<div class="container justify-content-center row column-gap-3">
    <button class="btn btn-outline-secondary col-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" >Home</button>
    <button class="btn btn-outline-secondary col-2" [routerLink]="['/movietable']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Movies Table</button>
    <button class="btn btn-outline-secondary col-2" [routerLink]="['/addmovie']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Movie</button>
</div>